*{
    box-sizing: border-box;
}
.trinagle{
    width: 0;
    height: 0;
    border-bottom: 100px solid darkblue;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
}